  <!-- Section #7 -->
  <section id="about"  data-speed="4">
    <article class="columns">
          
        <div class="span3">
          <strong>Product</strong>
            <ul>
              <li><a href="index.html#knowledge-is-power">What is it?</a></li>
              <li><a href="index.html#cities-citizens">How it works</a></li>  
              <li><a href="index.html#demo">Try it out</a></li>
              <li><a href="privacy.html">Privacy Policy</a></li>
            </ul>
        </div>

          
        <div class="span3">          
          <strong>Company</strong>
            <ul>
              <li><a href="about.html">About</a></li>
              <li><a href="about.html#team">Our Team</a></li>
              <li><a href="about.html#advisors">Advisors</a></li>
              <!-- <li><a href="https://angel.co/civic-insight#startup_round[source_url]">Jobs</a></li>
              <li><a href="https://angel.co/civic-insight#startup_round[source_url]">Press</a></li> -->
            </ul>
        </div>



        <div class="offset2 span3">
          <strong>Contact Us</strong><br/>
          Civic Industries LLC<br>
          155 9th Street<br>
          San Francisco, CA 94103<br>
          <br/>
          Twitter: <a href="http://twitter.com/civicinsight">@civicinsight</a><br>
          Email: hello@civicinsight.com<br>
          <br>
        </div>
        
    </article>
  </section>

  <section id="footer" data-speed="4" data-type="background">
    <article class="columns white-font">
        <br/>
        <p>© 2013, Civic Industries, LLC</p>
    </article>
  </section>

</body>

</html>
