</body>
<div style="clear:both"></div>
<!-- Section #7 -->
<footer>
  <section id="about"  data-speed="4" class="white-background">
    <article class="columns">
      
        <div class="span3">
          <strong>Product</strong>
            <ul>
              <li><a href="index.html#">Home</a></li>
              <li><a href="index.html#features">How it Works</a></li>  
              <li><a href="index.html#case-studies">Use Cases</a></li>
              <li><a href="index.html#press">In the Press</a></li>              
              <li><a href="privacy.html">Privacy Policy</a></li>
              <li><a href="terms-of-service.html">Terms of Service</a></li>
              
            </ul>
        </div>

      
        <div class="span3">          
          <strong>Company</strong>
            <ul>
              <li><a href="about.html">About</a></li>
              <li><a href="about.html">Our Team</a></li>
              <li><a href="about.html#advisors">Advisors</a></li>
              <!-- <li><a href="https://angel.co/civic-insight#startup_round[source_url]">Jobs</a></li>
              <li><a href="https://angel.co/civic-insight#startup_round[source_url]">Press</a></li> -->
            </ul>
        </div>



        <div class="offset2 span3">
          <strong>Contact Us</strong><br/>
          Civic Industries LLC<br>
          155 9th Street<br>
          San Francisco, CA 94103<br>
          <br/>
          Twitter: <a href="http://twitter.com/civicinsight">@civicinsight</a><br>
          Email: hello@civicinsight.com<br>
          <br>
        </div>
    
    </article>
  </section>

  <section id="footer" data-speed="4" data-type="background">
    <article class="white-font">
        <p>© 2014, Civic Industries, LLC</p>
    </article>
  </section>
</footer>

</html>