<!-- Heading -->
<header class="shadow main-page">
  <div style="width: 1024px; margin: 0 auto;">
    <div id="logo" style="float: left">
      <a href="/index.html"><img src="/images/logo.png" width="250px"></a>
    </div>
    <ul id="nav" style="float: right">
      <li><a href="/#product">Features</a></li>
      <li><a href="/#case-studies">Case Studies</a></li>
      <li><a href="/#customers">Customers</a></li>
      <li><a href="/#press">Press</a></li>
      <li><a href="/#pricing" class="hidden-xs hidden-sm">Pricing</a></li>
      <li><a class="menu-button btn-glow primary btn-submit signup" href="/index.html#sign-up">Sign Up</a></li>
    </ul>
  </div>

  <div id="notice" class="shadow">
    <p>
      BlightStatus is now Civic Insight! <span class="notice">Learn why <a class="underline" href="http://bit.ly/10yKu1E">here.</a></span>
    </p>
  </div>
</header>

