<!-- Heading -->
<header class="shadow main-page">
  <div style="width: 1024px; margin: 0 auto;">
    <div id="logo" style="float: left">
      <a href="/index.html"><img src="/images/logo.png" width="250px"></a>
    </div>
    <ul id="nav" style="float: right">
      <li><a href="/index.html#product">How it Works</a></li>
      <li><a href="/index.html#who-for">Who It's For</a></li>
      <li><a href="/index.html#case-studies">Use Cases</a></li>
      <li><a href="/index.html#press">In the Press</a></li>
      <li><a href="/index.html#pricing">Pricing</a></li>
      <li><a class="menu-button btn-glow primary btn-submit signup" href="/index.html#newsletter">SIGN UP</a></li>

    </ul>
  </div>

  <div id="notice" class="shadow">
    <p>
      BlightStatus is now Civic Insight! <span class="notice">Learn why <a class="underline" href="http://bit.ly/10yKu1E">here.</a></span>
    </p>
  </div>
</header>

