<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Civic Insight - We’re harnessing the power of information to help rebuild our cities</title>
  <meta name="description" content="Civic Insight makes real-time government data about a community’s underutilized spaces – think abandoned homes, empty storefronts, or vacant lots – both publicly available and extremely easy to use and understand. By getting everyone on the same page, Civic Insight makes it easier for government staff, motivated citizens, and local organizations to collaborate more effectively to improve the quality and value of their neighborhoods.">
  <meta name="author" content="Civic Industries LLC">
  <!-- CSS Code -->
  
  <link rel="shortcut icon" href="/images/favicon.png">  
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  
  <link rel="stylesheet" href="/stylesheets/jquery-ui.css">
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  
  

  <!--[if IE 7]>
    <link rel="stylesheet" href="/stylesheets/ie7.css">  
  <![endif]-->

  <!--[if IE 8]>
    <link rel="stylesheet" href="/stylesheets/ie8.css">  
  <![endif]-->

  <!--[if IE 9]>
    <link rel="stylesheet" href="/stylesheets/ie9.css">  
  <![endif]-->


  <!-- JS Code -->
  <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->
<!--   
  <script type="text/javascript" src="/javascripts/jquery-1.9.1.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-ui.js"></script> -->
  
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/javascripts/url.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.scrollTo.min.js"></script>
  <script type="text/javascript" src="/javascripts/script.js"></script>
  <script type="text/javascript" src="/javascripts/slider.js"></script>
  <script type="text/javascript" src="/javascripts/interest.js"></script>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37901344-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>

<body>