<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Civic Insight - We’re harnessing the power of information to help rebuild our cities</title>
  <meta name="description" content="Civic Insight makes real-time government data about a community’s underutilized spaces – think abandoned homes, empty storefronts, or vacant lots – both publicly available and extremely easy to use and understand. By getting everyone on the same page, Civic Insight makes it easier for government staff, motivated citizens, and local organizations to collaborate more effectively to improve the quality and value of their neighborhoods.">
  <meta name="author" content="Civic Industries LLC">
  <!-- CSS Code -->
  
  <link rel="shortcut icon" href="/images/favicon.png">  
  <link href="stylesheets/mailchimp.classic-081711.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic' rel='stylesheet' type='text/css'>
  <link href="/stylesheets/font-awesome.css" rel="stylesheet">

  
  <link rel="stylesheet" href="/stylesheets/jquery-ui.css">
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/grid.css">
  <link rel="stylesheet" href="/stylesheets/global.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/responsive.css">
  <link rel="stylesheet" href="/stylesheets/print.css">
  

  <!--[if IE 7]>
    <link rel="stylesheet" href="/stylesheets/ie7.css">  
  <![endif]-->

  <!--[if IE 8]>
    <link rel="stylesheet" href="/stylesheets/ie8.css">  
  <![endif]-->

  <!--[if IE 9]>
    <link rel="stylesheet" href="/stylesheets/ie9.css">  
  <![endif]-->

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="assets/js/css3-mediaqueries.js"></script>
  <![endif]-->

  <!-- JS Code -->
  <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->
  
  <script type="text/javascript" src="/javascripts/jquery-1.9.1.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-ui.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="/javascripts/css3-mediaqueries.js"></script>
  <script type="text/javascript" src="/javascripts/url.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.scrollTo.min.js"></script>
  <script type="text/javascript" src="/javascripts/script.js"></script>
  <script type="text/javascript" src="/javascripts/slider.js"></script>
  <script type="text/javascript" src="/javascripts/interest.js"></script>
  <script type="text/javascript" src="/javascripts/placeholder.js"></script>
  <script type="text/javascript" src="/javascripts/mailchimp.js"></script>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37901344-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>

<body>