@media print {
  html body .content section {
   /*display: none;*/
  }

  body {
      color: #000;
      background: #fff;
  }

  header #nav {
    display: none;
  }

  #pricing {
   display: block;
  }

  footer div {
    display: none;
  }

  footer .contact-us {
    display: block;
  }
  
  #footer {
    clear: both;
    width: 100%;
  }

  #sign-up {
    display: none;
  }

  .video-frame {
    display: none;
  }

  #quote,
  #about-subscription {
    float: none;
    display: block;
  }

  iframe {
    display: none;
  }
}