/**
 * Parallax Scrolling Tutorial
 * For NetTuts+
 *  
 * Author: Mohiuddin Parekh
 *	http://www.mohi.me
 * 	@mohiuddinparekh   
 */


body{
	margin:0;
	padding:0;
	font-family: 'Lato', sans-serif;
}

header{
	height: 60px;
	background: white;
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	z-index: 100;
	border-bottom: 1px solid #aaa;
}

#logo {
	margin-top: 2px;
	max-width: 239px;
}


h4{
	font-size: 300%;
	line-height: 200%;
	text-align: left;
}

.content{
  margin-top: 20px;
}
section{
	/* box-shadow: 0 0 50px rgba(0,0,0,0.8); */
}


h1{
  font-size: 300%;
  line-height: 170%;
/*  margin-top: 50px;*/
  margin-bottom: auto;  
}

h2{
  font-size: 250%;
/*  line-height: 170%;*/
/*  margin-top: 50px;*/
/*  margin-bottom: auto;  */
}

h3{
  font-size: 200%;
  line-height: 170%;
/*  margin-top: 50px;*/
  margin-bottom: auto;  
}

h4{
  font-size: 150%;
  line-height: 170%;
/*  margin-top: 50px;*/
  margin-bottom: auto; 
  margin: 10px 0 0; 
}


h5{
  font-size: 105%;
  line-height: 170%;
/*  margin-top: 15px;*/
  margin-bottom: auto;  
  text-transform: uppercase;
  text-transform: none;
}



#default p, #default li{
  font-size: 140%;
  line-height: 135%;
  font-weight: 400;
}

#narrow{
  padding-top: 100px; 
  width: 65%; 
  margin: 50px auto;
}

#narrow p, #narrow li{
  font-size: 100%;
  padding: 4px 0 ;
}


#narrow ul{
  padding: 5px;
}
#narrow li{
  list-style: inherit;
  margin-left: 5%;
}

.box{
  box-shadow: 0px 1px 2px #aaa;
}

#product{
/*  text-align: white !important;
  background-color: #00b9bd !important ;
*/  
  height: 1300px;
  margin-bottom: 20px;
}
#product h1{
  text-align: left;
  
}

#product li{
/*  list-style: inherit;  */
  padding: 0px;
  margin: 0 0px;  
}


#pricing{
  height: 800px;
  font-size: 110%;
}
#pricing .left-column, #pricing .center-column, #pricing .right-column{
  width: 25% !important;
  float: left;
  font-size: 120%;
  border: none;
  margin-left: 7%;
  
}

#pricing h1, #press h1{
  height: 120px  ;
}
.horizontal{
  clear:both; 
  border-bottom: 2px solid #aaa; 
  margin: 20px; 
  padding: 0 20px;
}


footer{
	width: 100%;
	position: relative;
}

a{
	text-decoration: none;
	color: #F1601D;
}
a:hover{
	cursor: pointer;
	color: #444;
}

ul#nav {	
	padding: 15px;
}
ul#nav li{
	display: inline;
	padding: 10px 22px;
	font-size: 20px;
	list-style: none;
}

ul#nav li a{
	font-weight: 400;
	text-decoration: none;
}


ul{
	padding: 0;
	margin: 0;	
}
li{
	list-style: none;
}

#press ul li{
	padding: 0 0 25px;
}


#notice {
    background-color: #00B9BD;
    color: white;
    font-size: 160%;
    height: 40px;
    margin: 63px 0;
    max-width: 1920px;
    position: relative;
    text-align: center;
    top: -3px;
    width: 100%;
    z-index: 50;
}

#notice p{
	font-size: 97%;
	line-height: 135%;
	font-weight: 400;
	padding-top: 6px;
}

.notice{
	font-style: italic;
	font-weight: 200; 
}

#notice a{
	font-weight: 400;
	color: white;
}

#notice a:hover {
	color: #444
	
}

#vision { 
	background: url(../images/hero.jpg) 50% 34px no-repeat fixed;
	height: 600px;  
	margin: 40px auto auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative;   
}

.hero{
	position: relative; 
	top: 100px
}

.shadow{
	box-shadow: 0 5px 10px rgba(0,0,0,.20);
}

.inner-shadow{
	box-shadow: 0 0px 15px rgba(0, 0, 0, 0.3) inset;
}

.fatty-inner-shadow{
	box-shadow: 0 0px 45px rgba(0, 0, 0, 0.5) inset;
}

#signup{
  height: 700px;
}

#signup form input[type=text], #signup form input[type=email]{

  margin: 20px 0 5px;
/*  padding: 0;*/
  
}


#signup input[type=radio]{
  margin: 4px;
  padding: 0;
}

#newsletter .columns{
  padding: 60px 0 80px;
}  

#newsletter p{
  text-align: center;
  margin: 0 auto;
}

#knowledge-is-power { 
/*	background: url(../images/about.jpg) 50% 0 no-repeat fixed; */
	height: 385px;
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    background: white;
}


#cities-citizens { 
	height: 520px;
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    background: #00b9bd;
}


#get-blightstatus { 
	height: 360px;
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    background: white;
}

#demo { 
	height: 390px;
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
	background: url("../images/map-large.png") 0 0 no-repeat fixed;
}

#background-map{
	width: 100%;	
	height: 100%;
	position: absolute;
}


#press { 
/*	background: url(../images/about.jpg) 50% 0 no-repeat fixed; */
/*  height: 900px;*/
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
  color: white;
  background: white;
  height: 850px;
/*  border: 1px solid black;*/
}

#mission{
  margin-top: 150px;
}

#about { 
/*  background: none repeat scroll 0 0 #E6E6E6;*/
  height: 200px;
  margin: 0 auto;
  max-width: 1920px;
  padding: 20px 0;
  position: relative;
  width: 100%;
  border: solid #999;
  border-width: 1px 0 0 0;
  font-weight: normal;
}

.brought-to-you {
	line-height: 135%;
	font-weight: 700;
	color: #444;

}

#about a, #about li, #about li a{
	font-style: italic;
	font-size: 100%;
	font-weight: 400;
}

.error{
  color: red!important;
  font-weight: normal;
  margin: 0 65px;
  text-align: left;
  padding: 0;
}
.divider {
	color: #F1601D;
	margin: 12px;
	font-size: 100%;
}

.address {
	font-size: 130%;
	line-height: 125%;
	font-weight: 400;
	color: #808080;
}

#footer{
  height: 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  background: #666666;
  color: white;
  text-align: center;
}

#footer p{
	font-size: 110%;
	font-weight: 300;
	color: #CCCCCC;
}

#footer a{
	color: white;
}


.highlight-medium{
	font-family: "Lato";
	font-weight: 300;
	font-size: 400%;
	width: 100%;
	margin: 0 auto;
	padding: 20px;
	width: 900px;
	color: white;
	text-align: center;
	padding-top: 100px;
	position: relative;

}
.highlight-large{
	font-family: "Lato";
	font-weight: 300;
	font-size: 500%;
	width: 100%;
	margin: 0 auto;
	padding: 20px;
	width: 700px;
	color: white;
	text-align: center;
	padding-top: 100px;
	position: relative;

}

.highlight-medium .highlighted-background, 
.highlight-large .highlighted-background{
	opacity: .8;
	top: 0;
	left: 0;
	display: inline;

}

.teal-highlighter{
	background-color: #00b9bd;	
}

.grey-highlighter{
	background-color: #333;
}


.highlight-medium .highlighted-text, 
.highlight-large .highlighted-text{
    color: white;
    left: 0;
    padding: 0 30px;
    position: absolute;
    top: 100px;
}

.highlighted-text a, .highlighted-text a:hover, .highlighted-text a:visited{
	color: inherit;
}

.highlighted-text a:hover{
	color: #F1601D;
}

blockquote{
	background-color: #eee;
	color: #F1601D;
	font-size: 205%;
	padding: 31px 34px;
	margin: 40px 40px;
	font-style: italic;
	font-weight: 300;
}


.columns{
    margin: 0 auto;
    padding: 60px 0;
    width: 1000px;
}

.columns .left-column{
	float: left;
	width: 49%;
}

.columns .right-column{
	float: right;
	width: 49%;
}

.columns .one-thirds-column{
	float: right;
	width: 23%; 
}

.columns .two-thirds-column{
	float: left;
	width: 66%;
}

.columns .three-thirds-column{
	float: left;
	width: 99%;
}

.fullwidth{
	float: left;
	width: 100%;
	text-align: center;
}

.fullwidth img{
	padding: 0 15px;
	vertical-align: middle;
}


.transparent-overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	background-color: white;

}

.button{
    background-color: #F1601D;
    margin: 40px 40px 20px;
    padding: 15px 10px;
    text-align: center;
    width: 150px;
}


.menu-button{
    background-color: #F1601D;
    padding: 5px 8px;
    text-align: center;
    color: white;
    border-radius: 5px;
    font-size: 90%;
}

.here{
  text-decoration: underline;
}

.menu-button:hover{
  background-color: #E0500C;
  color: white;
  
}


.left-column .button{
	width: 70%;
	margin-left: 87px;
}

.right-column .button{
	width: 70%;
	margin-left: -3px;
}

.button a{
	color: white;
}

.button:hover{
	background-color: orange;
	color: #333;
	cursor: pointer;
}
.button-text{
    color: white;
    font-size: 250%;
    font-weight: bold;
}


.offwhite-background{
  background-color: #f8f8f8;
	color: rgb(68, 68, 68); /* Blackish */
  
}

.white-background{
  background-color: white;
	color: rgb(68, 68, 68); /* Blackish */
  
}

.teal-background{
  background-color: #00b9bd; /* Teal */
	color: white !important;
}

.teal-background p, .teal-background h3{
	color: white !important;
}


.white-font{
	color: white;
}
.black-font{
	color: black;
}

.fixed{
	position: fixed;
	width: 100%;
	top: 120px;
}

.circle {
  border-radius: 50%;
  width: 200px;
  height: 200px; 
}

.social li{
  list-style: none;
}


.center{
	text-align: center;
}


.blurb{
	margin-top: -17px;
}

.bio-text{
/*  font-size: 80%;*/
}

.bio .face{
  border: 1px solid #DDDDDD;
  margin: 5px 20px 60px 0;
  padding: 0;
  text-align: center;
  width: 175px;
  float: left;
}
.bio h2{
  margin:  0 20px;
  
}
.bio .bio-text{
  margin: 0px;
}
.page-top-offset, #about-page{
  margin-top: 150px;
}

#about li{
/*  display: inline;*/
}

#about .columns{
	padding: 30px 0;
}

.speech-bubble{
	background: #E6E6E6;
	padding: 17px 20px;
	text-align: center;
	width: 80%;
	margin: 10px;
	position: relative;
}

.speech-bubble:after {
   border-color: #E6E6E6 transparent;
    border-style: solid;
    border-width: 40px 0 0 35px;
    bottom: -30px;
    content: "";
    display: block;
    left: 150px;
    position: absolute;
    width: 0;
}
.speech-bubble-credit{
	text-align: right;
}
.video-frame p{
	padding: 0  0 10px 0;
}
.video-frame{
	background-color: #00B9BD; 
	position: absolute; 
	height: 400px; 
	width: 400px;
	padding: 30px;
	margin: 0 30px;
}
.video-frame p{
	text-align: center;
	font-size: 180%;
	margin: 0 0 10px;
	color: white;
}
.video-frame .video{
	width: 88%;
	position: absolute; 
	height: 300px; 

}


#cities-citizens ul{
	position: relative;
}
#cities-citizens li{
	padding: 0 45px 35px 105px;
	position: relative;
	min-height: 80px;
}


#case-studies{
  text-align: white !important;
  background-color: #00b9bd !important ;  
  height: 950px;
}

#case-studies li{
  list-style: none;
  margin-left: 0px;
  padding: 5px 0;
}

#case-studies h1{
  font-size: 250%;
}

#case-studies .benefit-types img{
/*  position: absolute; */
  padding-top: 20px;
  width: 150px;
}


.circular-image {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  -ms-border-radius: 150px;
  -o-border-radius: 150px;
  border-radius: 150px;
  position: absolute;
  overflow: hidden;
  border: 2px solid #eee;
}

.circular-image img{
  width: 150px;
  position: absolute;
  left: -20px;
}

#neighborhood-revitalization .benefits{
  margin: 40px 0;
  text-align: center;
}


#neighborhood-revitalization .summary{
/*  margin:45px 0 70px;*/
  text-align: left;
  margin-left: 120px;
}

#neighborhood-revitalization .summary p, #neighborhood-revitalization .summary strong{
  font-size: 140%;
  line-height: 135%;
  font-weight: 400;
}

#neighborhood-revitalization .summary strong{
  font-weight: bold;  
}



#neighborhood-revitalization .image{
  text-align: center !important;
}

.row-column-left{
  padding: 10px 20px 0 15px
}

.row-column-right{
  padding: 10px 0px 0 35px
}


.benefits{
  margin: 50px auto 100px;
  text-align: center;
  min-height: 150px;
}


b, strong, em{
  font-weight: 800;
}



.cities-citizens-icons{
    height: 115px;
    left: 0;
    position: absolute;
    top: -15px;
    width: 95px;
}

.time-icon{
    background: url("../images/icons.png") no-repeat scroll -4px 0 transparent;
}
.chart-icon{
    background: url("../images/icons.png") no-repeat scroll -4px -126px transparent;
}
.database-icon{
    background: url("../images/icons.png") no-repeat scroll -4px -252px transparent;
}
.click-icon{
    background: url("../images/icons.png") no-repeat scroll -102px 0 transparent;
}
.contact-icon{
    background: url("../images/icons.png") no-repeat scroll -102px -124px transparent;
}
.info-icon{
    background: url("../images/icons.png") no-repeat scroll -104px -253px transparent;
}

#interest{
	width: 500px;
	margin: 0 auto;
}
label{
	font-size: 90% !important;
	font-family: "Lato" !important;
}



#form-depth label{
	padding-left: 10px !important;

}

.form{
  text-align: center;  
}
.form input, .form select{
  font-size: 150%;
  margin: 10px 0;
  padding: 5px;
}


.mc-field-group {
	margin-bottom: 10px;
}

#mc_embed_signup input[type=checkbox]{
	margin: 7px 0;
}

.mc-field-group-first label{
	font-size: 100% !important;
	font-family: "Lato" !important;
	/*line-height: 20px;*/
}

/*
label{
	float:left;
	width: 100px !important;
}

input[type=text]{
	float: left;
	width: 400px!important;
}

input[type=select]{
	width: 100px;

}
input[type=option]{
	width: 20px;
}
/*

/* Introduction */

/*
#home article { background: url("../images/intro.png") no-repeat scroll center top transparent; 
height: 458px; position: absolute; text-indent: -9999px; top: 291px; width: 100%; }

#about article { background: url("../images/parallax.png") no-repeat scroll center top transparent; 
height: 458px; position: absolute; text-indent: -9999px; top: 291px; width: 100%; }
*/

/*	SimpleFlex Grid  */

.row:before, .row:after {display: table; content: "";}
.row:after {clear: both;}

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11 {
    margin-right: 3.5%;
    float: left;
    min-height: 1px;
}

.row > [class*="span"]:last-child {
    margin-right: 0;
}

.span1  {width: 5.125%;}
.span2  {width: 13.75%;}
.span3  {width: 22.375%;}
.span4  {width: 31%;}
.span5  {width: 39.625%;}
.span6  {width: 48.25%;}
.span7  {width: 56.75%;}
.span8  {width: 65.5%;}
.span9  {width: 74.125%;}
.span10 {width: 82.75%;}
.span11 {width: 91.375%;}
.span12 {width: 100%; float: left;}

.offset1  {margin-left: 8.625%;}
.offset2  {margin-left: 17.25%;}
.offset3  {margin-left: 25.875%;}
.offset4  {margin-left: 34.5%;}
.offset5  {margin-left: 43.125%;}
.offset6  {margin-left: 51.75%;}
.offset7  {margin-left: 60.25%;}
.offset8  {margin-left: 69%;}
.offset9  {margin-left: 77.625%;}
.offset10 {margin-left: 86%;}
.offset11 {margin-left: 94.875%;}


.pricing-table{
/*  border: 1px solid #aaa;*/
  text-align: left;
/*  padding: 10px;*/
/*  top: 100px;*/
  padding: 10px;
  margin: 50px 0 50px;  
/*  min-height: 500px;*/
  width: 100%;  
  position: relative;
}


.pricing-table p{
  font-size:100%;
  font-weight: bold;

  
}
.pricing-table h2{
  font-size: 200%;
  text-align: center;
  margin: 0px 0 10px;
}

.price-details{
  font-size: 70%;
  padding: 20px 40px;
  margin-top: 90px;
  clear:both;
  
}

.pricing-table td{
  font-size: 100%;
  text-align: left;
  padding: 5px 10px 5px;
}

.pricing-price td{
  font-size: 150%;
  text-align: center;
  margin: 10px 0;  
}

.pricing-table td i{
  margin: 0 10px;
}

.pricing-price .menu-button{
  font-size: 65%;
  padding: 10px 10px;
}

#funders{
  margin-top: 40px;
}