/**
 * Parallax Scrolling Tutorial
 * For NetTuts+
 *
 * Author: Mohiuddin Parekh
 *  http://www.mohi.me
 *  @mohiuddinparekh
 */

/** HEADER **/
header {
  height: 60px;
  background: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid #aaa;
}

#logo {
  margin-top: 2px;
  max-width: 239px;
}

ul#nav {
  padding: 18px;
}

ul#nav li {
  display: inline;
  padding: 15px 10px 10px;
  font-size: 20px;
  list-style: none;
}

ul#nav li a {
  font-weight: 400;
  text-decoration: none;
}


#notice {
  background-color: #00B9BD;
  color: #FFF;
  font-size: 160%;
  height: 40px;
  margin: 63px 0;
  max-width: 1920px;
  position: relative;
  text-align: center;
  top: -3px;
  width: 100%;
  z-index: 50;
}

#notice p {
  font-size: 97%;
  line-height: 135%;
  font-weight: 400;
  padding-top: 6px;
}

.notice {
  font-style: italic;
  font-weight: 200;
}

#notice a {
  font-weight: 400;
  color: #FFF;
}

#notice a:hover {
  color: #444;
}

/** HERO **/

.hero {
  position: relative;
  top: 100px;
}

/** PRODUCT **/

#vision {
  background: url(/images/hero.jpg) 50% 34px no-repeat fixed;
  height: 600px;
  margin: 40px auto auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
}


#product {
  margin-bottom: 0;
}

#product h1 {
  text-align: left;
}

#product .center {
  width: 1000px;
  margin: 20px auto 0;
  text-align: center;
}

#product .center h1 {
  text-align: center;
}

#product .columns {
  padding: 40px 0 80px;
}

#product .feature {
  background-color: #FFF;
  width: 100%;
}

#product .offwhite {
  background-color: #eee;
}
  
#product li {
  padding: 0;
  margin: 0;
}

#pricing {
  line-height: 170%;
  font-size: 120%;
}


/** AUDIENCE **/

/** USES **/

/** MAILCHIMP **/

.form {
  text-align: center;
}

.form input,.form select {
  font-size: 150%;
  margin: 20px 5px 30px;
  padding: 7px;
}

.mc-field-group {
  margin-bottom: 10px;
}

#mc_embed_signup input[type=checkbox] {
  margin: 7px 0;
}

.mc-field-group-first label {
  font-size: 100% !important;
  font-family: Lato !important;
}

#signup {
  height: 700px;
}

#signup form input[type=text],#signup form input[type=email] {
  margin: 20px 0 5px;
}

#signup input[type=radio] {
  margin: 4px;
  padding: 0;
}

#newsletter {
  font-size: 100%;
}

#newsletter .columns {
  padding: 30px 0 80px;
}

#newsletter .unsubscribe {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  font-size: 100%;
  font-weight: 300;
}

#newsletter p {
  text-align: center;
  margin: 0 auto;
}

/** QUOTE **/
#pricing .left-column,#pricing .center-column,#pricing .right-column {
  width: 25% !important;
  float: left;
  font-size: 120%;
  border: none;
  margin-left: 7%;
}

#pricing h1,#press h1 {
  height: 120px;
}


/** FEATURE LIST **/

#feature-list .panel-default .panel-heading {
  background-color: gray;
  color: #fff;
}

#feature-list .panel-title {
  font-size: 150%;
  font-weight: 400;
  text-align: center;
}
/** PARTNERS **/
#partners .logos {
  margin: 0 auto;
}

#partners .image {
  display: inline;
}

#partners .image img {
  width: 150px;
/*  height: 100px;*/
  padding: 30px 0 50px 80px;
}


/** PRESS **/
#press ul li {
  padding: 0 0 25px;
}

#press {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  color: #FFF;
  height: 850px;
}


/** FOOTER **/

footer {
  width: 100%;
  position: relative;
}

#footer {
  height: 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  background: #666;
  color: #FFF;
  text-align: center;
}

#footer p {
  font-size: 110%;
  font-weight: 300;
  color: #CCC;
}

#footer a {
  color: #FFF;
}

/** MODALS **/

/** PRICING **/

.pricing-table {
  text-align: left;
  padding: 10px;
  margin: 70px 0;
  width: 100%;
  position: relative;
}

.price-period sup {
  font-size: 40%;
  top: -1.4em;
}

.pricing-table p {
  font-size: 100%;
  font-weight: 700;
}

.pricing-table h2 {
  font-size: 200%;
  text-align: center;
  margin: -10px 0 15px;
}

.price-details {
  padding: 20px 40px;
  margin-top: 90px;
  clear: both;
}

.price-details p,.price-details li {
  font-size: 110% !important;
}

.questions p:not(:first-child) {
  font-size: 90% !important;
}

.price-details p:first-of-type {
  padding-bottom: 20px;
}

.pricing-table td {
  font-size: 100%;
  text-align: left;
  padding: 5px 10px 0;
}

.pricing-price td {
  font-size: 150%;
  text-align: center;
  margin: 10px 0;
}

.pricing-table td i {
  margin: 0 10px;
}

.pricing-price .menu-button {
  font-size: 65%;
  padding: 8px 20px 12px;
}

.pricing-plan-intro {
  float: left;
  width: 200px;
  text-align: center;
  line-height: 130%;
}

#prices {
  padding: 10px;
  width: 300px;
}

#prices input {
  border: 0;
  width: 200px;
}

#slider {
  margin-top: 40px;
}

.category {
  float: left;
  margin-right: 10px;
  width: 17%;
  padding: 10px;
  background-color: #fff;
  min-height: 250px;
}

.category.active {
  background-color: #ddd;
}

.category h4 {
  line-height: 1em;
}





/** Special sections **/






/** DISORGANIZED **/


#knowledge-is-power {
  height: 385px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  background: #FFF;
}

#cities-citizens {
  height: 520px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  background: #00b9bd;
}

#get-blightstatus {
  height: 360px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  background: #FFF;
}

#demo {
  height: 390px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  background: url(/images/map-large.png) 0 0 no-repeat fixed;
}

#background-map {
  width: 100%;
  height: 100%;
  position: absolute;
}

#mission {
  margin-top: 150px;
}

#about {
  height: 200px;
  margin: 0 auto;
  max-width: 1920px;
  padding: 20px 0;
  position: relative;
  width: 100%;
  border: solid #999;
  border-width: 1px 0 0;
  font-weight: 400;
  font-size: 110%;
}

.brought-to-you {
  line-height: 135%;
  font-weight: 700;
  color: #444;
}

#about a,#about li,#about li a {
  font-weight: 400;
  font-size: 110%;
}

#about strong,#about .offset2 {
  font-size: 110%;
}

#funders {
  margin-top: 40px;
}

.social li {
  list-style: none;
}

.bio .face {
  border: 1px solid #DDD;
  margin: 5px 20px 60px 0;
  padding: 0;
  text-align: center;
  width: 175px;
  float: left;
}

.bio h2 {
  margin: 0 20px;
}

.bio .bio-text {
  margin: 0;
}

.page-top-offset,#about-page {
  margin-top: 150px;
}

#about .columns {
  padding: 30px 0;
}


#cities-citizens ul {
  position: relative;
}

#cities-citizens li {
  padding: 0 45px 35px 105px;
  position: relative;
  min-height: 80px;
}

#case-studies {
  background-color: #f8f8f8 !important;
}

#case-studies li {
  list-style: none;
  margin-left: 0;
  padding: 5px 0;
}

#case-studies h1 {
  font-size: 300%;
}

#case-studies .benefit-types img {
  padding-top: 20px;
  width: 150px;
}

/*#neighborhood-revitalization .benefits {
  text-align: left;
}

#neighborhood-revitalization .summary {
  padding-top: 140px;
  text-align: left;
}

#neighborhood-revitalization .summary p,#neighborhood-revitalization .summary strong {
  font-size: 130%;
  line-height: 120%;
  font-weight: 300;
}

#neighborhood-revitalization .summary strong {
  font-weight: 400;
}

#neighborhood-revitalization .image {
  text-align: center !important;
}

#neighborhood-revitalization .benefits {
  text-align: center;
  min-height: 125px;
  float: left;
  width: 230px;
  margin-right: 20px;
  position: relative;
}
*/
/*#clients {
  height: 425px;
}

#clients .summary {
  width: 300px;
  margin-left: 90px;
  text-align: left;
  font-size: 120%;
  padding: 20px 10px;
}

#clients .quote {
  text-align: left;
  padding-left: 60px;
  position: relative;
  font-size: 100%;
  width: 40%;
  font-size: 110%;
  float: left;
}

#clients .circular-image {
  margin: 65px 0;
}

#clients .circular-image img {
  left: 0;
  top: 0;
  width: 108px !important;
}

#clients strong {
  font-size: 125%;
  text-align: center;
  line-height: 230%;
  font-size: 100%;
}

#case-studies .quote-text {
  font-style: italic;
  min-height: 130px;
  font-size: 110%;
}

#clients .quote-text {

  min-height: 130px;
  font-size: 100%;
}

#clients .quote-name {
  font-size: 100%;
  text-align: right;
  margin: 5px 0;
}

#clients .watch-video {
  font-size: 100%;
  text-align: right;
  margin: 5px 0;
}*/



.cities-citizens-icons {
  height: 115px;
  left: 0;
  position: absolute;
  top: -15px;
  width: 95px;
}

#interest {
  width: 500px;
  margin: 0 auto;
}

#form-depth label {
  padding-left: 10px !important;
}



