<!-- Section #3 -->
<section id="who-benefits"  data-speed="4" class="teal-background row">
  <div class="columns" style="width: 1000px; margin: 0 auto">
    <article class="columns row">


      <div class="row-column-left" style="width: 480px; float: left; padding: 20px 0; margin-right: 40px">
          <h2>Governments</h2>          
          <div class="benefits row">
              <div class="face">
                <div class="circular-image"><img src="/images/stock/20146003.jpg" /></div>
              </div>
              <div class="summary">
                <div class="title"><strong>City Leadership</strong></div>
                <p>Measure the progress of your initiatives at a glance with citywide analytics and visualizations.</p>
              </div>
          </div>
          <div class="benefits row">
              <div class="face">              
                <div class="circular-image"><img src="/images/stock/131916311.jpg" /></div>
              </div>
            <div class="summary">
              <div class="title"><strong>City Staff</strong></div>
              <p>Collaborate more effectively across departments with property information centralized in one place.</p>
            </div>
          </div>
      </div>
      
      <div class="row-column-right"  style="width: 480px; float: left; padding: 20px 0">
        <h2>Organizations</h2>
          <div class="benefits row">
              <div class="face">  
                <div class="circular-image"><img src="/images/stock/110296997.jpg" /></div>
              </div>
              <div class="summary">
                <div class="title"><strong>Real Estate Professionals</strong></div>
                <p>Track multiple properties at a time and stay on top of all your projects with real-time alerts.</p>
              </div>
          </div>        
          <div class="benefits row">
              <div class="face">       
                <div class="circular-image"><img src="/images/stock/10377851.jpg" /></div>
              </div>
              <div class="summary">
                <div class="title"><strong>Residents &amp; Local Orgs</strong></div>
                <p>Residents have answers at their fingertips in language they understand, saving them a visit to City Hall.</p>
              </div>
          </div>
      </div>      
    </article>
  </div>
</section>
<div class="clear"></div>

