<!-- Section #3 -->
<section id="case-studies"  data-speed="4" class="teal-background row">


  <div class="columns" style="width: 1000px; margin: 0 auto">
    
    <div class="center"><h1>How It's Used</h1></div>

    <!-- Big Picture Stuff -->
    <div id="neighborhood-revitalization" >
      <article class="columns row">     
          
          <div class="row-column-left" style="width: 480px; float: left; padding: 20px 0; margin-right: 40px">
            <h3>Building Permits</h3>        
            <ul  style="position: relative; list-style: bullet">
              <li>
                Building and development are critical drivers of economic prosperity in any city. 
                Civic Insight eliminates costly delays by demystifying the permit approval process and making 
                timely information available when it’s most important.
              </li>
            </ul>
          </div>
          
          <div class="row-column-right" style="width: 480px; float: left; padding: 20px 0">
            <h3>Code Enforcement</h3>        
            <ul  style="position: relative; list-style: bullet">
              <li>
                We all have a vested interest in seeing our communities thrive. By getting everyone on the same page about 
                the city’s current efforts, Civic Insight helps residents, city staff, and local organizations work together 
                more effectively as they enhance the value of quality and value of their communities.
              </li>
            </ul>
          </div>
          
      </article>      
    </div>        

    


  
  

    <!-- Archetypes -->
    <div id="neighborhood-revitalization" >
      <article class="columns row">      
        <div class="row-fluid"> 
          
              <div class="benefits">
                  <div class="circular-image"><img src="/images/stock/104071613.jpg" /></div>                            
                  <div class="summary">
                    <div class="title"><strong>Residents &amp; Local Orgs</strong></div>                                        
                    <p>Residents have answers at their fingertips in language they understand, saving them a visit to City Hall.</p>                    

                  </div>
              </div>

              <div class="benefits">
                  <div class="circular-image"><img src="/images/stock/131916311.jpg" /></div>                            
                  <div class="summary">
                    <div class="title"><strong>City Leadership</strong></div>                                        
                    <p>Measure the progress of your initiatives at a glance with citywide analytics and visualizations.</p>
                  </div>
              </div>  
                    
            <div class="benefits">
                <div class="circular-image"><img src="/images/stock/159494420.jpg" /></div>
                <div class="summary">
                  <div class="title"><strong>City Staff</strong></div>                            
                  <p>Collaborate more effectively across departments with property information centralized in one place.</p>                    
                </div>
            </div>

            <div class="benefits">
                <div class="circular-image"><img src="/images/stock/110296997.jpg" /></div>
                <div class="summary">
                  <div class="title"><strong>Real Estate Professionals</strong></div>
                  <p>Track multiple properties at a time and stay on top of all your projects with real-time alerts. </p>
                </div>
            </div>
  
        </div>
      </article>
    </div>
    

  </div>


 
</section>
<div class="clear"></div>  
