<!-- Section #3 -->
<section id="case-studies"  data-speed="4" class="teal-background row">


  <div style="width: 1000px; margin: 0 auto">

    <!-- Track Properties -->
    <div id="neighborhood-revitalization" >
      <article class="columns row" style="float: left; width: 49%">
      
      
        <div class="row-fluid"> 
          <div class="row-column-left">
            <h1>Neighborhood Revitalization</h1>        
            <ul  style="position: relative; list-style: bullet">
              <li>
                Return under-utilized properties to productive use more effectively by equipping neighbors, nonprofits and government staff with the information they need to work together to create lasting solutions.         
              </li>
            </ul>


            <div class="benefits">
              <div>
                <div class="circular-image"><img style="left: -5px; top: -3px; width:108px !important" src="/images/Seal_of_the_City_of_New_Orleans.png"></div>                            
                <div style="" >              
                  <div class="summary">
                    <strong>City of New Orleans</strong>
                      <p>What theyve done very successfully is taken a very complicated process and broken it down into 3 easy steps: where am i in the process, what’s coming next, and when am i going to be done?.</p>
                  </div>
                </div>
              </div>
            </div>
                        

          
            <div class="benefits">
              <div >
                <h3 style="margin-bottom: 50px;text-align:left">Use Case:</h4>                
                
                <div class="circular-image"><img src="/images/stock/stock-photo-mature-businessman-smiling-159494420.jpg"></div>                            
                <div style="" >
                  <div class="summary">
                    <strong>Local NGOs</strong>                    
                    <p>Friendly language helps residents understand what’s happening in their neighborhoods &amp; identify opportunities to pitch in.</p>                    
                  </div>
                </div>
              </div>
            </div>


            <div class="benefits">
              <div >
                <div class="circular-image"><img src="/images/stock/stock-photo-image-of-african-american-business-leader-looking-at-camera-in-working-environment-131916311.jpg"></div>                            
                <div style="" >                              
                  <div class="summary">
                    <strong>City Council &amp; 311</strong>
                    <p>Cross-departmental information is centralized in one easy-to-use interface, facilitating a more productive conversation with your constituents.</p>
                  </div>
                </div>
              </div>
            </div>
            
            
            <!-- <div class="benefits">
              <div >
                <div class="circular-image"><img src="/images/stock/stock-photo-handsome-smiling-confident-businessman-portrait-130001030.jpg"></div>                            
                <div style="" >  
                  <div class="summary">
                    <strong>Government Administrators</strong>
                    <p>Make more data-driven decisions to allocate resources for code enforcement & community development initiatives using our dashboard to visualize &amp; quantify your agency’s progress.</p>
                  </div>
                </div>
              </div>
            </div> -->
            
          </div>
        </div>


      </article>
    </div>
    



    <!-- Track Properties -->
    <div id="neighborhood-revitalization" >
      <article class="columns row" style="float: right; width: 49%">
      
      
        <div class="row-fluid"> 
          <div class="row-column-right" >
            <h1>Economic Development</h1>        
            <ul  style="position: relative; list-style: bullet">
              <li>
                Make your community an attractive place to build &amp; do business by demystifying the building permit process and providing project updates to residents in real-time.   
                <br><br>
              </li>
            </ul>



            <div class="benefits">
              <div>
                <div class="circular-image"><img style="left: -5px; top: -4px; width:108px !important" src="images/city_of_palo_alto_seal_thumb.png"></div>                            
                <div style="" >              
                  <div class="summary">
                    <strong>City of Palo Alto</strong>
                      <p>What theyve done very successfully is taken a very complicated process and broken it down into 3 easy steps: where am i in the process, what’s coming next, and when am i going to be done?.</p>

                  </div>
                </div>
              </div>
            </div>
            

                      
            <div class="benefits">
              <div >
                <h4 style="margin-bottom: 50px"><br></h4>
                <div class="circular-image"><img src="/images/stock/stock-photo-elegant-middle-aged-female-architect-with-binoculars-110296997.jpg"></div>                            
                <div style="" >                            
                  <div class="summary">
                    <strong>Developers and Business Owners</strong>                    
                    <p>Developers can track multiple properties at a time to stay on top of all of their projects. With real-time email alerts, they’ll save valuable time &amp; never miss a critical project update again. </p>                    
                  </div>
                </div>
              </div>
            </div>


            <div class="benefits">
              <div >
                <div class="circular-image"><img src="/images/stock/stock-photo-successful-business-woman-looking-confident-and-smiling-104071613.jpg"></div>                            
                <div style="" >              
                  <div class="summary">
                    <strong>Residents &amp; Neighbors</strong>
                      <p>Residents can stay in the loop about what’s being built in their neighborhood. They’ll receive email alerts about projects particularly important to them.</p>
                  </div>
                </div>
              </div>
            </div>


            
                        
          </div>
        </div>


      </article>
    </div>
  </div>



 
  
</section>
<div style="clear:both"></div>