<!-- Section #3 -->
<section id="clients"  data-speed="4" class="white-background row">
  <div style="width: 1000px; margin: 0 auto">
    <article class="columns row" >      
      
      
      <div class="center">
        <h1>Clients</h1>
      </div>

      <div class="quote">
        <div class="circular-image">
          <img style="left: -5px; top: -4px; width:108px !important" src="images/Seal_of_the_City_of_New_Orleans.png"/>
        </div>                            
        <div class="summary" style="width: 300px; margin-left: 120px; text-align: left; font-size: 100%">
          <strong>City of Palo Alto</strong>
          <p class="quote-text">"What theyve done very successfully is taken a very complicated process and broken it down into 3 easy steps: where am i in the process, what’s coming next, and when am i going to be done?"</p>
          <p class="quote-name">Peter Pirnejad<br>Director Of Development Services</p>
          <p class="watch-video"><a href="https://vimeo.com/85475367">Watch Video</a></p>
        </div>
      </div>        
      
      
      <div class="quote">
        <div class="circular-image">
          <img style="left: -5px; top: -4px; width:108px !important" src="images/city_of_palo_alto_seal_thumb.png"/>
        </div>                            
        <div class="summary" style="width: 300px; margin-left: 120px; text-align: left; font-size: 100%">
          <strong>City of New Orleans</strong>
          <p class="quote-text">"BlightStatus [Civic Insight] in incredibly important.... We hear over and over from the public how simple  and easy it is to  use"</p>
          <p class="quote-name">Denice Ross<br/>Director of Enterprise Information<p>
          <p class="watch-video"><a href="http://www.youtube.com/watch?v=vfmnn1xygjw">Watch Video</a></p>
        </div>
      </div>
                     

    </article>
  </div>
  <div style="clear:both"></div>  
</section>
