<!-- Section #3 -->

<section id="clients"  data-speed="4" class="white-background row">
  <div style="width: 1000px; margin: 0 auto">
    <article class="columns row" >      
      
      
      <div class="center">
        <h1>Our Customers</h1>
      </div>

      <div class="quote">
        <div class="circular-image">
          <img src="/images/city_of_palo_alto_seal_thumb.png"/>
        </div>                            
      </div>        
      
      
      <div class="quote">
        <div class="circular-image">
          <img src="/images/Seal_of_the_City_of_New_Orleans.png"/>
        </div>                            
      </div>
                     


    </article>
  </div>
</section>
<div class="clear"></div>  
