<!-- Section #3 -->
<section id="clients"  data-speed="4" class="white-background row">
  <div style="width: 1000px; margin: 0 auto">
    <article class="columns row" >      
      
      
      <div class="center">
        <h1>Praise from our Customers</h1>
      </div>

      <div class="quote">
        <div class="circular-image">
          <img src="images/city_of_palo_alto_seal_thumb.png"/>
        </div>                            
        <div class="summary">
          <strong>City of Palo Alto</strong>
          <p class="quote-text">"What they've done very successfully is taken a very complicated process and broken it down into three easy steps: where am I in the process, what’s coming next, and when am I going to be done?"</p>
          <p class="quote-name">Peter Pirnejad<br>Director Of Development Services</p>
          <p class="watch-video"><a href="https://vimeo.com/85475367">Watch Video</a></p>
        </div>
      </div>        
      
      
      <div class="quote">
        <div class="circular-image">
          <img src="images/Seal_of_the_City_of_New_Orleans.png"/>
        </div>                            
        <div class="summary">
          <strong>City of New Orleans</strong>
          <p class="quote-text">"BlightStatus [Civic Insight] is incredibly important... We hear over and over from the public how simple, beautiful, and easy it is to use"</p>
          <p class="quote-name">Denice Ross<br/>Director of Enterprise Information</p>
          <p class="watch-video"><a href="http://youtu.be/vfmnn1xygjw?t=3m29s">Watch Video</a></p>
        </div>
      </div>
                     

    </article>
  </div>
</section>
<div class="clear"></div>  

