<!-- Section #1 -->
<section id="sign-up" class="teal-background row" data-speed="4" >
  <a name= "contact"></a>
  <article class="columns">
    <div id="mc_embed_signup">
      <div class="center"><h1 >Get Started with Civic Insight</h1></div>

      
        <form  action="http://civicinsight.us4.list-manage1.com/subscribe/post?u=bc89bc1a568c7ecb05735ef0d&amp;id=1df64879e9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form center" target="_blank" novalidate>
          <div class="row info">
            <div class="col-md-12">
              <input id="mce-FNAME" value=""  class="FNAME required" name='FNAME' type='text' placeholder="Your Name"  />
              <input id="mce-EMAIL" value="" class="email required" name='EMAIL' type='email' value="" placeholder="Email" />
              <input id="mce-MMERGE7" value="" class="ORGANIZATION" name='MMERGE7' type='text' placeholder="Organization" />
              <input id="mce-MMERGE6" value="" class="ZIPCODE" name='MMERGE6' type='text' placeholder="Zipcode"  />
            </div>
          </div>

          <div class="row">  
            <div class="col-md-9">
              <div class="option">
                <input type="checkbox" value="256" name="group[16221][256]" id="mce-group[16221]-16221-0"><label for="mce-group[16221]-16221-0">
                <label for="group[16221][256]">I am interested in scheduling a demo</label>
              </div>
              <div class="option">
                <input type="checkbox" value="512" name="group[16221][512]" id="mce-group[16221]-16221-1" checked> <label for="mce-group[16221]-16221-1">
                <label for="group[16221][512]">I’d like to receive quarterly updates about Civic Insight</label>
              </div>
            </div>
            <div class="col-md-3">
              <input class="menu-button btn-glow primary btn-submit signup" value="Submit" type="submit"  name="subscribe" id="mc-embedded-subscribe" class="button" />
            </div>
          </div>

          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_bc89bc1a568c7ecb05735ef0d_1df64879e9" tabindex="-1" value=""></div>
          

        </form>
        
        <div class="center">or, <h1 >Call us at (415) 754-9974</h1></div>

      </div>
  </article>
</section>
