<!-- Section #3 -->
<section id="customers"  data-speed="4" class="white-background row">
  <div style="width: 1000px; margin: 0 auto">
    <article class="columns row" >

      <div class="center">
        <h1>Our Customers</h1>
      </div>

      <div class="logos">
        <div class="image"><img src="/images/city_of_palo_alto_seal_thumb.png" alt="Palo Alto, California" /></div>
        <div class="image"><img src="/images/Seal_of_the_City_of_New_Orleans.png" alt="New Orleans, Lousiana" /></div>
        <div class="image"><img src="/images/city_of_gary_seal.jpg" alt="Gary, Indiana" /></div>
        <div class="image"><img src="/images/Monterey_County_California_seal.png" alt="Monterey Country, California" /></div>
        <div class="image"><img src="/images/Ft_Worth_seal.jpg" alt="Fort Worth, Texas" /></div>
        <div class="image"><img src="/images/Seal_of_Austin,_TX.png" alt="Austin, Texas" /></div>
        <div class="image"><img src="/images/dahfh-logo.jpg" alt="Habitat for Humanity, Dallas" /></div>
        <div class="image"><img src="/images/Atlanta_GA_seal.png" alt="Atlanta, Georgia" /></div>
        <div class="image"><img src="/images/sacramento-seal.png" alt="Sacramento, California" /></div>
        
        
      </div>
    </article>
  </div>
  <div style="clear:both"></div>
</section>
