<section>
  <article>
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#full-feature-list">
              FULL FEATURE LIST
            </a>
          </h4>
        </div>
        <div id="full-feature-list" class="panel-collapse collapse">
          <div class="panel-body">
              <ul>
                <li><strong>feature</strong> feature</li>
                <li><strong>feature</strong> feature</li>
                <li><strong>feature</strong> feature</li>
              </ul>
          </div>
        </div>
    </div>  
  </div>

  </article>
</section>