<!-- Section #3 -->
<section id="cities-citizens" class="white-background row" data-speed="4" >  
  <article class="columns">
    <div class="left-column"> 
      <h3 class="white-font">For cities:</h3>
      <ul class="white-font" style="position: relative;">
        <li><span class="cities-citizens-icons time-icon"></span>    Interactive maps and charts help you identify patterns and make informed, strategic decisions.</li>
        <li><span class="cities-citizens-icons chart-icon"></span>    Citizens now have answers at their fingertips, leaving you more time to focus on your work.</li>
        <li><span class="cities-citizens-icons database-icon"></span>    Civic Insight sits on top of your existing systems and workflows - no system overhaul required.</li>
      </ul>
    </div>

    <div class="right-column"> 
      <h3 class="white-font">For citizens:</h3>
      <ul class="white-font">
        <li><span class="cities-citizens-icons click-icon"></span>     Browse a map or search by address to find out exactly what’s happening with a particular property.</li>
        <li><span class="cities-citizens-icons contact-icon"></span>     Subscribe to properties you care about to receive timely email updates about their progress.</li>
        <li><span class="cities-citizens-icons info-icon"></span>    Get the answers you need, without the fuss of lengthy phone calls or  trips to City Hall.</li>
      </ul>
    </div>
  </article>
</section>
