<!-- Section #2 -->
<section id="knowledge-is-power" class="white-background row" data-speed="4" >  
  <article class="columns">
    <div class="left-column"> 
      <h1 class="black-font">Knowledge is power.</h1>
      <p class="blurb">Civic Insight makes real-time government data about a community’s underutilized spaces – think abandoned homes, empty storefronts, or vacant lots – both publicly available and extremely easy to use and understand.</p>
      <br>
      <p>By getting everyone on the same page, Civic Insight makes it easier for government staff, motivated citizens, and local organizations to collaborate more effectively to improve the quality and value of their neighborhoods. </p>
    </div>

    <div class="right-column"> 
    <blockquote>The presence of just one blighted property on the average residential block can reduce the value of neighboring homes by up to $7,000 each.<a href="http://astro.temple.edu/~ashlay/democracy.pdf" title="Anne B. Shlay and Gordon Whitman. 2004. Research for Democracy: Linking Community Organizing and Research to Leverage Blight Policy.">¹</a></blockquote>
    </div>
  </article>
</section>

