<section class="row offwhite" style="background-color: #eee">
  <article class="columns row">
    <h2 class="center orange-font section-pad">Life Cycle of Buildings</h2>
    
    <div class="col-md-5 col-sm-5 col-xs-5 section-pad">
    <p class="center black-font section-pad use-intro"><img width="300px" src="/images/Life_Cycle.png"  style="margin: 0 auto" /></p>

    </div>

    <div class="col-md-7 col-sm-7 col-xs-7 section-pad">
    <p class="center black-font section-pad use-intro" style="text-align:justify">
      <br><br>
      A typical building passes through several stages of development throughout its life cycle. 
      <br><br>
      Whether it’s a demolition or a re-model, <br>Civic Insight supports data from start to finish, and everything in between.

    </div>
    
    
  </article>
</section>
<div class="clear"></div>

