

<div class="modal fade" id="quote-annual-fee" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">

        <div style="width: 900px; margin: 0 auto">

          <div id="prices" class="left-column box white-background" >

            <label for="population">Population:</label>
            <input type="text" id="population">

            <label for="price_base">One time setup fee:</label>
            <input type="text" id="price_base">

            <label for="total_price">Annual fee:</label>
            <input type="text" id="total_price">


            <label for="price">Price per capita:</label>
            <input type="text" id="price">

            <label for="price_5_years">Total price per capita 5 years including depreciated setup fee:</label>
            <input type="text" id="price_5_years">



           <!--  <label for="plan_fee">Plan fee:</label>
            <input type="text" id="plan_fee"> -->


          </div>

          <div id="plans"  class="right-column box white-background" >
            <input type="radio" name="data_plan" value="house_facts">House Facts<br />
            <input type="radio" name="data_plan" value="partner">Partner program data (Accela/Socrata)<br />
            <input type="radio" name="data_plan" value="custom">Custom Data<br />
          </div>

          <div class="clear"></div>

          <div id="slider"></div>

          <div class="categories">
            <div class="category active small">
              <span class="icon"><img src="images/pricing/city_town_hall.png" />
              <h4>Small City</h4>

              <p>Description</p>

            </div>
            <div class="category medium">
              <span class="icon"><img src="images/pricing/city_small.png" />
              <h4>Medium City</h4>

              <p>Description</p>

            </div>
            <div class="category large">
              <span class="icon"><img src="images/pricing/city_medium.png" />
              <h4>Large City</h4>

              <p>Description</p>

            </div>
            <div class="category metro">
              <span class="icon"><img src="images/pricing/city_large.png" />
              <h4>Metropolis</h4>

              <p>Description</p>

            </div>
          </div>
       </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<div class="modal fade" id="quote-setup-fee" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
      SET UP FEE content here (move slider here if necessary)
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
      </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
