<!-- Section #1 -->
<section id="newsletter" class="teal-background row" data-speed="4" >    
  <article class="columns">
      <div class="center"><h1 >Stay in Touch!</h1></div>
        <div class="form">
          <form action="http://civicinsight.us4.list-manage.com/subscribe/post?u=bc89bc1a568c7ecb05735ef0d&amp;id=1df64879e9" method="post">
            <input class="FNAME" name='FNAME' type='text' placeholder="Your Name">
            <input class="EMAIL" name='EMAIL' type='text' placeholder="Email">
            <input class="menu-button btn-glow primary btn-submit signup" style="border: 0; padding: 10px" value="Subscribe" type="submit">            
          </form>
        </div>
        <div class="unsubscribe">
          <p>
             You can keep up to date by subscribing to our free newsletters. You can unsubscribe at any time.
          </p>
        </div>
      </div>
  </article>
</section>



