<!-- Section #1 -->
<section id="newsletter" class="teal-background row" data-speed="4" >
  <article class="columns">
      <div class="center"><h1 >Get Started with Civic Insight</h1></div>

      <form class="form center" action="http://civicinsight.us4.list-manage.com/subscribe/post?u=bc89bc1a568c7ecb05735ef0d&amp;id=1df64879e9" method="post">
        <div class="row info">
          <input class="FNAME" name='FNAME' type='text' placeholder="Your Name" style="width:20%" />
          <input class="EMAIL" name='EMAIL' type='text' placeholder="Email" style="width:20%" />
          <input class="ORGANIZATION" name='ORGANIZATION' type='text' placeholder="Organization" style="width:20%" />
          <input class="ZIPCODE" name='ZIPCODE' type='text' placeholder="Zipcode" style="width:20%" />
        </div>
        <div class="row">
          <div class="col-md-9">
            <div class="option">
              <input type="checkbox" id="todo_change" />
              <label for="todo_change">I’d like to talk to someone about getting Civic Insight in my area</label>
            </div>
            <div class="option">
              <input type="checkbox" id="todo_change2" checked />
              <label for="todo_change2">I’d like to receive quarterly  updates about Civic Insight</label>
            </div>
          </div>
          <div class="col-md-2">
            <input class="menu-button btn-glow primary btn-submit signup" value="Submit" type="submit" />
          </div>
        </div>
      </form>
  </article>
</section>



