<!-- Section #3 -->
<section id="partners"  data-speed="4" class="white-background row">
  <div style="width: 1000px; margin: 0 auto">
    <article class="columns row" >

      <div class="center">
        <h1>Our Technology Partners</h1>
      </div>

      <div class="logos">
        <div class="image"><img src="/images/Accela_Logo.jpg" alt="Accela" /></div>
        <div class="image"><img src="/images/esri.png" alt="ESRI" /></div>
        <div class="image"><img src="/images/socrata_logo.png" alt="Socrata" /></div>
        <div class="image"><img src="/images/CfA_logo.jpg" alt="Code for America" /></div>
        <div class="image"><img src="/images/media_logo-govdelivery-clr-sm.png" alt="GovDelivery" /></div>
      </div>
    </article>
  </div>
  <div style="clear:both"></div>
</section>
