<!-- Section #6 -->
<section id="press" data-speed="4" class="offwhite-background row">
  <article class="columns black-font ">
      <div class="center"><h1>In the Press</h1></div>
      <div class="left-column">
        <ul>
          <li>
            <div class="speech-bubble">
              "[One of the] best open data releases of 2013"
            </div>
            <div class="speech-bubble-credit">
              <a href="http://www.theatlanticcities.com/technology/2012/12/best-open-data-releases-2012/4200/"><img src="images/atlantic-logo.png" width="120px"></a>
            </div>
          </li>


          <li>
            <div class="speech-bubble">
              "This is what innovation and change in government looks like"
            </div>
            <div class="speech-bubble-credit">
              <a href="http://www.nola.com/politics/index.ssf/2012/10/city_launches_website_to_track.html"><img src="images/logo_tp.png" width="200px"></a>
            </div>
          </li>


         <li>
            <div class="speech-bubble">
              “A new kind of more productive communication between [citizens <br>and City Hall]”
            </div>
            <div class="speech-bubble-credit">
              <a href="http://www.fastcoexist.com/1680759/revitalizing-new-orleans-by-crowdsourcing-renewal"><img src="images/fast_company_logo.png" width="200px"></a>
            </div>
          </li>

      </ul>



      </div>
      <div class="right-column" style="position: relative">
        <div class="video-frame">
          <p>Watch our profile on PBS NewsHour:</p>
          <div class="video">
          <iframe width="350" height="262" src="http://www.youtube.com/embed/QFYNy5zied8" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>

    <div class="fullwidth">
      <h4>Also featured in:</h4>
      <a href="http://www.time.com/time/magazine/article/0,9171,2140202,00.html"><img src="images/TIME_Logo.png" width="110px"></a>
      <a href="http://blogs.wsj.com/cio/2012/12/04/the-big-easy-hopes-technology-will-solve-hard-recovery-issues/"><img src="images/the_wall_street_journal_logo.png" width="200px"></a>
      <a href="https://www.govloop.com/community/blog/civic-insight-wins-knight-news-challenge/"><img src="images/GovLoopLogo.png" width="100px"></a>
      <a href="http://www.govtech.com/e-government/New-Orleans-Launches-Blighted-Property-Web-App.html"><img src="images/gt_logo.gif" width="200px"></a>
      <a href="http://www.pbs.org/newshour/rundown/a-high-tech-solution-for-a-neighborhood-problem/"><img src="images/Pbs-newshour.png" width="200px"></a>



      <!-- <a href="http://www.bestofneworleans.com/blogofneworleans/archives/2012/10/11/city-launches-interactive-blight-map"><img src="images/logoGambit.gif" width="150px"></a> -->
    </div>


  </article>
</section>
<div style="clear:both"></div>