<!-- Section #1 -->
<section id="pricing" class="offwhite-background row" data-speed="4" >
  <article class="columns black-font">

      <div id="quote" class="left-column">
        <h3>Get a Quote Instantly</h3>
        <div class="btn btn-primary btn-lg" data-toggle="modal" data-target="#quote-annual-fee">
          Annual subscription fee:
          <span>Calculate it!</span>
        </div>
        <
        <div class="btn btn-primary btn-lg" data-toggle="modal" data-target="#quote-setup-fee">
          One-time setup fee:
          <span>Calculate it!</span>
        </div>
      </div>


      <div id="about-subscription" class="right-column">
        <h3>Your Subscription Includes:</h3>
        <ul>
          <li><strong>All hosting, maintenance, and support:</strong> no internal IT resources required once we’re live.</li>
          <li><strong>No “upgrades” to manage:</strong>  you’re always running the latest version of our software automatically.</li>
          <li><strong>Live connection</strong> to your agency’s existing data systems for real-time reporting & alerts.</li>
          <li><strong>Analytics dashboard</strong> with up to 10 customized charts & graphs.</li>
        </ul>
      </div>
  </article>
</section>

<div style="clear:both"></div>