<!-- Section #1 -->
<section id="pricing" class="offwhite-background row" data-speed="4" >  
  <article class="columns black-font">

      <div class="center row" style="width: 1000px; clear:both">
        <h1>Get Started with Civic Insight</h1>
      </div>         

      <div style="width: 900px; margin: 0 auto">

        <div id="prices" class="left-column box white-background" >

          <label for="population">Population:</label>
          <input type="text" id="population">

          <label for="total_price">Total Price:</label>
          <input type="text" id="total_price">

          <label for="price">Price per capita:</label>
          <input type="text" id="price">

          <label for="price_base">Base price (implementation):</label>
          <input type="text" id="price_base">


        </div>
        <div class="clear"></div>

        <div id="slider"></div>


        <div class="categories">
          <div class="category active small">
            <span class="icon"><img src="images/pricing/city_town_hall.png" />
            <h4>Small City</h4>
            
            <p>Description</p>

          </div>
          <div class="category medium">
            <span class="icon"><img src="images/pricing/city_small.png" />
            <h4>Medium City</h4>
            
            <p>Description</p>

          </div>
          <div class="category large">
            <span class="icon"><img src="images/pricing/city_medium.png" />
            <h4>Large City</h4>
            
            <p>Description</p>

          </div>
          <div class="category metro">
            <span class="icon"><img src="images/pricing/city_large.png" />
            <h4>Metropolis</h4>
            
            <p>Description</p>

          </div>
        </div>        


     </div> 
  </article>
</section>
<div style="clear:both"></div>