<!-- Section #3 -->
<section id="product"  data-speed="4" class="row">




  <!-- Track Properties -->
  <div class="feature">
    <article class="columns row" style="position: relative">
      
      <div class="row" style="float: left; width: 600px"> 
        <div style="padding: 50px 80px 0 15px">
          <h1>Track Properties</h1>        
          <ul  style="position: relative; list-style: bullet">
            <li>
              Simple, clear language &amp; visualizations help residents make sense of complicated processes like code enforcement &amp; building permits.

              With fewer questions from residents, agency staff have more time to focus on their work.
            </li>
          </ul>            
        </div>
      </div>

      <div class="row" style="padding: 0px 0 0 0; margin: 0; bottom: -3px; position: absolute; right: 0px;"> 
        <img src="/images/screenshot-track-properties.png" width="450px">
      </div>
      
    </article>
  </div>
    



  
  
  <!-- Real-Time Alerts -->
  <div  class="feature offwhite">
    <article class="columns row" style="position: relative">

      <div class="row" style="padding: 0px 0 0 0; margin: 0; bottom: -3px; position: absolute; left: 0px;"> 
        <img src="/images/screenshot-receive-alerts.png" width="450px">
      </div>
      
      <div class="row" style="float: right; width: 500px"> 
        <div style="padding: 50px 0px 0 15px">
          <h1>Recieve Alerts</h1>
          <ul  style="position: relative;">
            <li>By pulling information directly from your existing enterprise systems, residents can stay up to date with automatic email alerts about what’s happening with properties in their neighborhood.</li>
          </ul>

        </div>
      </div>
      

    </article>
  </div>
  <!-- <div style="border-style:solid; border-width: 1px; border-color: #aaa; margin: 50px 20%"></div> -->




  
  <!-- Analyze Trends -->
  <div class="feature">
    <article class="columns row" style="position: relative">
      
      <div class="row" style="float: left; width: 600px"> 
        <div style="padding: 50px 80px 0 15px">
          <h1>Analyze Trends</h1>        
          <ul  style="position: relative; list-style: bullet">
            <li>Our analytics dashboard provides high-level insights about your agency’s performance and geographic trends to help you make more strategic, data-driven decisions.</li>
          </ul>            
        </div>
      </div>

      <div class="row" style="padding: 0px 0 0 0; margin: 0; bottom: -3px; position: absolute; right: 0px;"> 
        <img src="/images/screenshot-analyze-trends-new.png" width="450px">
      </div>
      
    </article>
  </div>
    

  
</section>
<div style="clear:both"></div>