<!-- Section #3 -->
<section id="product"  data-speed="4" class="row">




  <!-- Track Properties -->
  <div class="feature">
    <article class="columns row" style="position: relative">
      
      <div class="row" style="float: left; width: 600px"> 
        <div style="padding: 50px 80px 0 15px">
          <h1>Track Properties</h1>        
          <ul  style="position: relative; list-style: bullet">
            <li>
              Civic Insight’s interface is designed to represent your agency’s unique process &amp; workflow.
              This means that residents have answers at their fingertips, leaving you more time to focus on your work.          
            </li>
          </ul>            
        </div>
      </div>

      <div class="row" style="padding: 0px 0 0 0; margin: 0; bottom: -3px; position: absolute; right: 0px;"> 
        <img src="/images/screenshot-track-properties.png" width="450px">
      </div>
      
    </article>
  </div>
    



  
  
  <!-- Real-Time Alerts -->
  <div  class="feature offwhite">
    <article class="columns row" style="position: relative">

      <div class="row" style="padding: 0px 0 0 0; margin: 0; bottom: -3px; position: absolute; left: 0px;"> 
        <img src="/images/screenshot-analyze-trends.png" width="450px">
      </div>
      
      <div class="row" style="float: right; width: 500px"> 
        <div style="padding: 50px 0px 0 15px">
          <h1>Real-Time Alerts</h1>
          <ul  style="position: relative;">
            <li>Residents can subscribe to receive email updates about the properties they care about most, directly to their inbox - no need to return to the website to check on the same property again and again.</li>
          </ul>

        </div>
      </div>
      

    </article>
  </div>
  <!-- <div style="border-style:solid; border-width: 1px; border-color: #aaa; margin: 50px 20%"></div> -->




  
  <!-- Analyze Trends -->
  <div class="feature">
    <article class="columns row" style="position: relative">
      
      <div class="row" style="float: left; width: 600px"> 
        <div style="padding: 50px 80px 0 15px">
          <h1>Analyze Trends</h1>        
          <ul  style="position: relative; list-style: bullet">
            <li>Our analytics dashboard help you monitor your agency’s performance and make informed, strategic decisions about land use &amp; resource allocation.</li>
          </ul>            
        </div>
      </div>

      <div class="row" style="padding: 0px 0 0 0; margin: 0; bottom: -3px; position: absolute; right: 0px;"> 
        <img src="/images/screenshot-analyze-trends.png" width="450px">
      </div>
      
    </article>
  </div>
    

  
</section>
<div style="clear:both"></div>