<!-- Section #3 -->
<section id="product"  data-speed="4" style="height:1700px" class="row">




  <!-- Track Properties -->
  <article class="columns row">
    <div class="row" style="float: left; width: 600px"> 
      <div>
        <h1>Track Properties</h1>        
        <h4>For your constituents:</h4>
        <ul  style="position: relative;">
          <li>With one click, residents get a detailed view of what’s happening with properties in their community neighborhood - no visit to City Hall required.</li>
          <!-- <li>Simple, clear language &amp; visualizations help residents make sense of complicated processes like code enforcement &amp; building permits.</li> -->
        </ul>

        <h4>For you:</h4>
        <ul  style="position: relative; list-style: bullet">
          <li>Civic Insight’s interface is tailored to represent your agency’s unique process &amp; workflow</li>
          <!-- <li>Residents have answers at their fingertips, leaving you more time to focus on your work</li> -->
        </ul>            
      </div>
    </div>

    <div class="row" style="float: left; margin-top: 125px; padding: 0px 0 0 45px"> 
      <img src="images/frontpage.png" width="350px" height="250px">
    </div>
  </article>
    



  
  
  <!-- Real-Time Alerts -->
  <article class="columns row">
    <div class="row" style="float: left; width: 600px"> 
      <div class="center row" style="width: 1000px; clear:both">
        <h1>Real-Time Alerts</h1>

      </div>         
      <div>
        <h4>For your constituents:</h4>
        <ul  style="position: relative;">
          <li>Residents can subscribe to receive real-time email updates about the properties they care about most, directly to their inbox - no need to return to the website to check on the same property again and again.</li>
        </ul>

        <h4>For you:</h4>
        <ul  style="position: relative; list-style: bullet">
          <li>Civic Insight automatically pulls data from your agency’s existing workflow systems, so your residents always have access to the most relevant &amp; accurate information, with no extra effort required on your end.</li>
        </ul>            
      </div>
    </div>

    <div class="row" style="float: left; margin-top: 125px; padding: 0px 0 0 45px"> 
      <img src="images/search-results.png" width="350px" height="250px">
    </div>
  </article>
    
  <!-- <div style="border-style:solid; border-width: 1px; border-color: #aaa; margin: 50px 20%"></div> -->




  
  <!-- Analyze Trends -->
  <article class="columns row">
    <div class="row" style="float: left; width: 600px"> 
      <div class="center row" style="width: 1000px; clear:both">
        <h1>Analyze Trends</h1>
      </div>         
      <div>
        <h4>For your constituents:</h4>
        <ul  style="position: relative;">
          <li>Residents can browse a map to see how their neighborhood shapes up with the region at large, and drill down to what’s most important to them with our dynamic search filters.</li>
        </ul>

        <h4>For you:</h4>
        <ul  style="position: relative; list-style: bullet">
          <li>Our analytics dashboard help you monitor your agency’s performance and make informed, strategic decisions about land use &amp; resource allocation.</li>
        </ul>            
      </div>
    </div>

    <div class="row" style="float: left; margin-top: 125px; padding: 0px 0 0 45px"> 
      <img src="images/screenshot-dashboard.png" width="350px" height="250px">
    </div>
  </article>
    
  <!-- <div style="border-style:solid; border-width: 1px; border-color: #aaa; margin: 50px 20%"></div> -->



 
  
</section>
<div style="clear:both"></div>