<!-- Section #5 -->
<section id="demo" class="fatty-inner-shadow" data-speed="4">
  <!-- <div class="transparent-overlay"></div> -->
  <article>
    <div id="background-map">
      <div class="highlight-medium">
        <span class="highlighted-background teal-highlighter"><span class="grey-highlighter">We've launched in New Orleans.</span><br> Try Civic Insight for yourself: <strong>blightstatus.nola.gov</strong></span>
        <span class="highlighted-text"><span>We've launched in New Orleans.</span><br> Try Civic Insight for yourself: <strong><a href="http://blightstatus.nola.gov">blightstatus.nola.gov</a></strong></span>

        
      </div>
    </div>
  </article>
</section>
