<!-- Section #3 -->
<section id="testimonials"  data-speed="4" class="offwhite-background row">
  <div style="width: 1000px; margin: 0 auto">
    <article class="columns row" >      


          <div class="row-column-left" >
            <div class="benefits" style="width: 49%; float: left">
              <div>
                <div class="circular-image" style="margin: 15px 5px"><img style="left: -5px; top: -4px; width:108px !important" src="images/Seal_of_the_City_of_New_Orleans.png"></div>                            
                <div style="" >              
                  <div class="summary" style="width: 300px; margin-left: 120px; text-align: left; font-size: 95%">
                    <strong>City of Palo Alto</strong>
                      <p>
                        What theyve done very successfully is taken a very complicated process and broken it down into 3 easy steps: where am i in the process, what’s coming next, and when am i going to be done?.
                      </p>
                  </div>
                </div>
              </div>
            </div> 
          </div>   
          
                                 
          <div class="row-column-right" >
            <div class="benefits" style="width: 49%; float: left">
              <div>
                <div class="circular-image" style="margin: 15px 5px"><img style="left: -5px; top: -4px; width:108px !important" src="images/city_of_palo_alto_seal_thumb.png"></div>                            
                <div style="" >              
                  <div class="summary" style="width: 300px; margin-left: 120px; text-align: left; font-size: 95%">
                    <strong>City of Palo Alto</strong>
                      <p>
                        What theyve done very successfully is taken a very complicated process and broken it down into 3 easy steps: where am i in the process, what’s coming next, and when am i going to be done?.
                      </p>
                  </div>
                </div>
              </div>
            </div> 
          </div>           

    </article>
  </div>
</section>
<div style="clear:both"></div>