<!-- Section #1 -->
<section id="vision" data-speed="10" class="fatty-inner-shadow white-background; " style="overflow:hidden">
  <img src="/images/Myan Soffia-north beach.jpg" style="position: absolute; width: 100%; top: -300px; min-width: 900px">
  <article>
    <div class="hero">
      <div class="highlight-large">
        <span class="highlighted-background grey-highlighter">Harness the power of information to build thriving cities.</span>
        <span class="highlighted-text">Harness the power of information to build thriving cities.</span>
      </div>
    </div>
  </article>
</section>
